
//FILES
Shader Labb 2/Labb 01.aps
UpgradeLog.XML

// FILE TYPES
*.suo
*.user
*.log
*.tlog
*.old


// FILE TYPES IN FOLDERS
bin/*.lib
bin/*.exe
bin/*.exp
bin/*.ilk
bin/*.pdb
bin/*.idb
Debug/*
DL_Debug/*

// FOLDERS
.vs
CommonUtilities/Debug
CommonUtilities/Release
DL_Debug/Release
FI_File/bin
FI_File/data
Shader Labb 2/bin
Shader Labb 2/data
tinyxml/bin
tinyxml/data
tinyxml/Debug
tinyxml/Release

